.App {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.m {
  margin: 5px;
  background-color: coral;
  border-radius: 3px;
  padding: 2px;
}

.f {
  margin: 5px;
  background-color: greenyellow;
  border-radius: 3px;
  padding: 2px;
}

.container {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid 1px;
  border-color: black;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}

.favContainer {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid 1px;
  border-color: black;

  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}

.favourites {
  padding: 0px;
  margin-bottom: 0px;
  text-align: start;
}

h4 {
  padding: 0;
  margin-left: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
